@import '../variables.scss';

.imagePop_shadowElement {
  overflow: scroll;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.imagePop_shadowElement--img {
  position: absolute;
}
.imagePop_shadowElement--text {
  background-color: #fff;
  position: absolute;
  width: 100vw;
  // height: 30%;
  height: auto;
  // top: 80vh;
  bottom: 0;
  z-index: 1;
  // padding: 0 0 30px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: -4px -4px 14px rgba(171, 171, 171, 0.1);
}
.imagePop_shadowElement_inner {
  width: 90vw;
}
.imagePop_shadowElement--text h3 {
  margin-bottom: 0;
  text-align: center;
}
.imagePop_shadowElement--text p {
  padding-top: .5rem;
  text-align: center;
  margin: 0 auto;
}
[class*="imagePop_"] a {
  color: inherit;
}
.imagePop_overlay {
  margin: 0;
  cursor: auto;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  background-color: #fff;
  position: fixed;
  z-index: 0;
  opacity: 0;
  animation: imagePop_overlay;
  animation-duration: 250ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes imagePop_overlay {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.isPoppedImg {
  z-index: 1;
}
.imagePop--container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.imagePop--container,
.imagePop_shadowElement {
  border: 0;
  margin: 0;
  padding: 0;
}
.imagePop_shadowElement {
  width: 100%;
  height: 100%;
}
.imagePop {
  cursor: zoom-in;
  border: 0;
  margin: 0;
  padding: 0;
}

.imagePop--close {
    color: #383838;
    font-size: 44px;
    width: 60px;
    height: 60px;
    position: fixed;
    top: 0;
    right: 20px;
    cursor: pointer;
    animation: closeFlyIn;
    animation-duration: .3s;
    animation-delay: .3s;
    animation-fill-mode: forwards;
    backface-visibility: hidden;
    margin: 24px -124px 24px -24px;
    z-index: 111111;
}

.imagePop--close .imagePop--close_bar {
    background-color: #383838;
}

.imagePop--close .imagePop--close_bar:nth-child(1) {
    position: absolute;
    width: 4px;
    height: 44px;
    border-radius: 234234px;
    content: '';
    animation: closeBar_One;
    animation-duration: 250ms;
    animation-delay: 750ms;
    animation-fill-mode: forwards;
    right: 26px;
    top: -5px;
}

.imagePop--close .imagePop--close_bar:nth-child(2) {
    position: absolute;
    width: 4px;
    height: 44px;
    border-radius: 234234px;
    content: '';
    animation: closeBar_Two;
    animation-duration: 250ms;
    animation-delay: 750ms;
    animation-fill-mode: forwards;
    right: 26px;
    top: -5px;
}

@keyframes closeBar_One {
    0% {
      transform: rotate(0);
      opacity: 0;
    }
    50% {
      opacity: 1;
      background-color: #383838;
    }
    100% {
      transform: rotate(45deg);
    }
}

@keyframes closeBar_Two {
    0% {
      transform: rotate(0);
      opacity: 0;
    }
    50% {
      opacity: 1;
      background-color: #383838;
    }
    100% {
      transform: rotate(-45deg);
    }
}

@keyframes closeFlyIn {
    0% {
        transform: rotate(45deg);
        margin: 24px -30px 24px -24px;
        opacity: 0;
    }
    100% {
        transform: rotate(-90deg);
        opacity: 1;
        margin: 24px 24px 24px -24px;
    }
}
.hide {
  display: none;
}
.invisible {
  visibility: hidden;
}

@media screen and (max-width: 540px) {
  .imagePop_shadowElement--text {
    max-height: 200px;
  }
}